<table class="table table-striped table-hover table-responsive" *ngIf="userLibraryBooks.length">
  <thead>
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descricao</th>
      <th scope="col">Autores</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let userLibraryBook of userLibraryBooks">
      <tr>
        <td>{{userLibraryBook.Isbn}}</td>
        <td>{{userLibraryBook.Titulo}}</td>
        <td>{{userLibraryBook.DescricaoLivro.slice(0, 50) + '...'}}</td>
        <td>{{userLibraryBook.Autor}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
