.dashboard{
  height: 90vh;
  .cult-network-logo {
    margin-bottom: 50px;
    font-size: 5em;
    font-weight: bold;
    .logo-dot {
      color: var(--cult-network-primary);
    }
  }
  .description{
    width: 500px;
    text-align: center;
  }
}
