<div class="d-flex flex-row w-100">
  <aside class="logged-area-aside-menu d-flex flex-column align-items-center">
    <div class="cult-network-logo">
      <span class="logo-title">
        Cult Network<span class="logo-dot">.</span>
      </span>
    </div>

    <ul class="menu-options">
      <li class="option" [routerLink]="['/app/dashboard']">
        <fa-icon [icon]="faHome"></fa-icon>
        <span>Inicio</span>
      </li>
      <li class="option">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Meu Perfil</span>
      </li>
      <li class="option" [routerLink]="['/app/my-library']">
        <fa-icon [icon]="faBook"></fa-icon>
        <span>Minha biblioteca</span>
      </li>
      <li class="option" [routerLink]="['/app/add-book']">
        <fa-icon [icon]="faBookMedical"></fa-icon>
        <span>Adicionar livros</span>
      </li>
      <li class="option">
        <fa-icon [icon]="faShareAltSquare"></fa-icon>
        <span>Trocar livros</span>
      </li>
      <li class="option">
        <fa-icon [icon]="faAngry"></fa-icon>
        <span>Efetuar denúncia</span>
      </li>
      <li class="option" (click)="logout()">
        <fa-icon [icon]="faDoorOpen"></fa-icon>
        <span>Sair</span>
      </li>
    </ul>
  </aside>

  <div class="logged-area-content container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
