<aside class="logged-area-aside-menu">
  <div class="cult-network-logo">
    <span class="logo-title">
      Cult Network<span class="logo-dot">.</span>
    </span>
  </div>

  <ul class="menu-options">
    <li>
       <fa-icon [icon]="faUser"></fa-icon>
       <span>Meu Perfil</span>
    </li>
    <li>
       <fa-icon [icon]="faBook"></fa-icon>
       <span>Meu acervo</span>
    </li>
    <li>
       <fa-icon [icon]="faBookMedical"></fa-icon>
       <span>Adicionar livro</span>
    </li>
    <li>
       <fa-icon [icon]="faShareAltSquare"></fa-icon>
       <span>Trocar livros</span>
    </li>
    <li>
       <fa-icon [icon]="faAngry"></fa-icon>
       <span>Efetuar denúncia</span>
    </li>
  </ul>
</aside>
