

<div
  class="intro-container jumbotron d-flex flex-column justify-content-center card card-image"
>
  <div class="text-left mx-5 mt-5" style="width: 400px">
    <div>
      <h2 class="card-title h1-responsive font-bold">
        <strong>Cult Network</strong>
      </h2>
      <p class="my-5">
        Junte-se a rede composta por pessoas que curtem uma boa leitura e
        desejam se conectar com outras que também partilham desse interesse.
      </p>
      <a [routerLink]="['/auth/sign-in']">
        <button class="intro-button text-white">
          Comece-se agora
        </button>
      </a>
    </div>
  </div>
</div>
