.intro-container {
  box-shadow: none;
  height: 100vh;
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("/assets/images/undraw_book_lover_mkck.svg");

  > div {
    width: 400px;
  }

  .intro-button {
    padding: 15px 0;
    width: 250px;
    border-radius: 30px;
    border: none;
    background: var(--teal);
  }
}
